@model CoreAndFood.Data.Models.Food

@{
    ViewData["Title"] = "FoodAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>FoodAdd</h1>


<br />

@using (Html.BeginForm("FoodAdd", "Food", FormMethod.Post))
{

    <b>@Html.Label("Name")</b>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })

    <br />

    <b>@Html.Label("Stock")</b>
    @Html.TextBoxFor(x => x.Stock, new { @class = "form-control" })


    <br />
    <b>@Html.Label("Price")</b>
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })

    <br />
    <b>@Html.Label("ImageURL")</b>
    @Html.TextBoxFor(x => x.ImageURL, new { @class = "form-control" })

    <br />
    <b>@Html.Label("Category")</b>
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>) ViewBag.v1, new { @class = "form-control" })

    <b>@Html.Label("Description")</b>
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })

    <br />

    <button class="btn btn-warning"> Save</button>

}